<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moneygroup.devufa.ru.moneygroup">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ForgotActivity" />
        <activity
            android:name=".activity.NewPassword"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.Registration" />
        <activity android:name=".activity.Welcome" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.unconfirmed.PersonPagerActivity" />
        <activity android:name=".activity.unconfirmed.ContactsActivity" />
        <activity android:name=".activity.owesme.OwesmePersonActivity" />
        <activity android:name=".activity.iowe.IOweActivity" />
        <activity android:name=".activity.ChainActivity"></activity>
    </application>

</manifest>